.usersContainer{
  border-radius: 10px 0px 0px 10px;
  background: rgba(49, 170, 178, 0.25);
  grid-area: sideLayout;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}