button {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: none;
  background: #30acb1;
  margin: 1.5rem 1rem;

  color: #fff;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 700;

}
