.container_project {
  height: 100vh;
  width:auto;
  display: grid;
  grid-template-columns: 9fr 3fr ;
  grid-template-rows: 1.2fr 10.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "forms sideLayout ";
}

.header_project {
  grid-area: header;
}

.sideLayout_project {
  grid-area: sideLayout;
}

.forms_project {
  grid-area: forms;
}
