.containerMessageOther {
  margin: 0.8rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  background: #4E4E4E;
  color: #fff;
  min-width: 30%;
  max-width: 50%;
  height: auto;
  gap: 1rem;
  .userDetails{
    width: 60%;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    .name{
      color: #FFF;
      font-family: Montserrat;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .role{
      color: #FFF;
      font-family: Montserrat;
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .text{
    word-break: break-all;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.containerMessageLogged{
  margin: 0.8rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  background: #06595e;
  color: #fff;
  min-width: 30%;
  max-width: 50%;
  height: auto;
  gap: 1rem;
  align-self: flex-end;
  text-align: -webkit-right;
  .userDetails{
    width: 60%;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    .name{
      color: #FFF;
      font-family: Montserrat;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .role{
      color: #FFF;
      font-family: Montserrat;
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .text{
    text-align: left;
    word-break: break-word;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}