.projectChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  .fixed {
    p {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem 0;
      background-color: #d0d4ce;
      margin: 1rem 1rem 0 1rem;
      border-radius: 1rem;
    }
  }
  .messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    content-visibility: auto;
    overflow-y: auto;
  }
  .messages::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 0;
    background-color: #d0d4ce;
  }
  .messages::-webkit-scrollbar {
    width: 6px;
    background-color: #00696c;
  }
  .messages::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1fc6cc;
  }
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    padding: 1rem;
    background-color: #00686c2b;
    border-radius: 1rem;
    height: auto;
    input {
      width: 100%;
      border: none;
      min-height: 2rem;
      height: auto;
      background: none;
      color: #000;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 500;
      word-wrap: break-word;
    }

    input:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
    }

    button {
      background: none;
      border: none;
      width: 2.2rem;
      background-image: url(../../assets/Arrow.png);
      background-repeat: no-repeat;
    }
  }
}
